[build]
  publish = "out"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18.18.0"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID = "demo-project-id"

[context.deploy-preview.environment]
  NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID = "demo-project-id"

[context.branch-deploy.environment]
  NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID = "demo-project-id"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Content-Security-Policy = "default-src 'self'; script-src 'self' 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data: https:; connect-src 'self' https: wss:; frame-src 'self' https:;"